<!DOCTYPE html>
<html>
  <head>
    <meta viewport="width=device-width, initial-scale=1.0" />
    <meta lang="en" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h1 id="header">What's the Weather?</h1>
      <form id="weather-form">
        <p id="usr-prompt">
          Please enter the city you would like the current weather for:
        </p>
        <div>
          <label for="city-name">City</label>
          <input type="text" name="city-name" placeholder="Ex: New York" />
        </div>
        <button class="btn" type="" action="">Submit</button>
      </form>
    </div>

    <script src="/static/script.js"></script>
  </body>
</html>
