<!DOCTYPE html>
<html>
  <head>
    <meta viewport="width=device-width, initial-scale=1.0" />
    <meta lang="en" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <div id="weather-info">
        <h2 id="city">test</h2>
        <div class="row-item">
          <label for="weather">Weather: </label>
          <p id="weather"></p>
        </div>
        <div class="row-item">
          <label for="current">Current: </label>
          <p id="current"></p>
        </div>
        <div class="row-item">
          <label for="feels_like">Feels Like: </label>
          <p id="feels-like"></p>
        </div>
        <div class="row-item">
          <label for="max">Max: </label>
          <p id="max"></p>
        </div>
        <div class="row-item">
          <label for="min">Min: </label>
          <p id="min"></p>
        </div>
      </div>
    </div>
    <script>
      const weather_data = {
        // tojson converts the python dictionary to json, otherwise you will get an error
        data: {{ data | tojson }},
      };
      console.log(weather_data);
    </script>
    <script src="/static/showinfo.js"></script>
  </body>
</html>
