#main-header {
  display: flex;
  justify-content: center;
  color: dimgrey;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#new-task {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border: 2px solid black;
  width: 25vw;
}

#new-task * {
  padding: 5px;
  margin: 5px;
}

.todo {
  border: solid 2px black;
  width: 25vw;
  padding: 10px;
  text-align: center;
  margin: 10px;
}
.todo input {
  float: left;
}

#new-task textarea {
  height: 15vh;
}

.btn {
  padding: 5px 10px 5px 10px;
  margin: 0px 5px 0px 5px;
  background-color: lightseagreen;
  border-style: none;
  border-radius: 6px;
  color: whitesmoke;
}

.btn:active {
  /* give the button a "click" effect*/
  background-color: rgb(89, 195, 195);
  transform: scale(0.95);
}

.hidden {
  display: none;
}
