.container {
  display: flex;
  align-items: center;

  flex-direction: column;
}

input[type="textarea"] {
  text-align: left;

  width: 75vw;
  height: 50vh;
}

#preview {
  background-color: darkgrey;
}
