body {
  background-color: darkgrey;
}

.container {
  display: flex;
  align-items: center;

  flex-direction: column;
}

textarea {
  text-align: left;
  background-color: rgb(234, 234, 234);
  padding: 25px;
  resize: none;
  width: 75vw;
  height: 50vh;
}

textarea:focus {
  outline: none;
  border: 1px solid green;
}

#preview {
  background-color: rgb(234, 234, 234);
  border: 1px solid black;
  padding: 25px;
  width: 75vw;
  height: 50vh;
}
